@import url("https://use.typekit.net/tax8raf.css");

h1 {
  font-family: noto-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
}

.aboutPage {
  background-color: #00c6ae;
}

#landing {
  height: 100vh;
}

.button {
  background-color: white;
  border: solid;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: noto-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.button:hover {
  background-color: black;
  border-color: black;
  color: white;
}


/* Landing Page */

.mainTitle {
  font-size: 140px;
  color: #f95a2b;
}

.mainButton {
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 80px;
  font-size: 50px;
}

.about {
  position: absolute;
  right: 0;
  height: 100px;
  margin: 20px 20px 0 0;
}

/* Perry */
#titleA {
  display: initial;
}

#titleB {
  display: none;
}

#ptp {
  display: initial;
  height: 60%;
  width: 60%;
}

#ptp2 {
  display: none;
  height: 60%;
  width: 60%;
}

/* All the Page */
.thumbnails {
  border: solid;
  border-color: #00c6ae;
  border-radius: 20px;
}

.back {
  height: 30px;
}

/* Bee Page */
.bee {
  height: 200px;
}

.tinyText {
  font-size: 10px;
}

/* Potion Page */

.orangeTitle {
  color: #f95a2b;
}

.bottle {
  height: 300px;
}

.tealTitle {
  color: #00c6ae;
}

/* About Page */

.bio {
  font-size: 20px;
}

linked {
  text-decoration: none;
}
